@inject Microsoft.Extensions.Configuration.IConfiguration config;
@{
}

<div class="mt-4">
    <p>IFrame Code</p>
    <div class="border p-4 mb-4">
        <code>&lt;iframe</code> src="@config["HostedVideoPage"]?video=@Model.VideoUrl" height="400" allowfullscreen<code>&gt;&lt;/iframe&gt;</code>
    </div>
</div>