@page
@model StromMediaPlatform.Pages.IndexModel

@{ }







<div class="container my-5">
    <form method="post" enctype="multipart/form-data"  id="videoForm">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <input class="form-control" type="file" asp-for="Upload" accept=".mp4">
        </div>
        <div class="d-grid gap-2 col-12 col-md-6 mx-auto">
            <button type="button" class="btn btn-success btn" onclick="start()" id="btnStart">UPLOAD</button>
        </div>
    </form>
</div>






<script>

    const input = document.getElementById('Upload');

    document.getElementById("videoForm").addEventListener("submit", function (event) {
        event.preventDefault()
    });

    function Upload(selectedFile) {
        let formData = new FormData(document.forms[0]);
        var xhr = new XMLHttpRequest();


        xhr.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                console.log('Upload completed');
                const data = JSON.parse(this.response);

                if (data.hasOwnProperty("error")) {



                    const err = `<div class="p-4" id="errorContainer">
            <div class="alert alert-danger" role="alert">${data.error}</div>
</div>`;

                    document.body.insertAdjacentHTML('beforebegin', err);

                   

                    return;

                }

                if (data.hasOwnProperty("videoUrl")) {
                    setTimeout(function () { window.location.href = "/uploadresult?videourl=" + data.videoUrl; }, 1000);
                }
            }
        };
        xhr.upload.onprogress = () => {
            var percent = (event.loaded / event.total) * 100;
            var tt = Math.round(percent);
            console.log(tt);
            document.getElementById("btnStart").innerHTML = "UPLOADING... " + tt.toString() + "%";

        }
        xhr.onerror = () => {
            console.log("Something went wrong");
        };
      
        xhr.open('post', '', true);
        xhr.send(formData);
    };

    function disableBackDrop() {
        document.body.classList.remove("overflow-hidden");

        var backDrop = document.getElementsByClassName("offcanvas-backdrop");
        if (backDrop !== undefined && backDrop.length === 1) {
            backDrop.remove();
        }

        //cleanup error message

    }

    function clearError() {

    }

    function start() {
        const files = input.files;

        if (!files.length) {
            return;
        }
        disableBackDrop();
        document.body.classList.add("overflow-hidden");
        document.body.insertAdjacentHTML("afterbegin", '<div class="offcanvas-backdrop fade show"></div>');

        selectedFile = files[0];
        Upload(selectedFile);
    }

</script>
